/* Personalización de la plantilla */
body {
    font-family: Arial, sans-serif;
    height: 100%;
  }
  

 
  .logo {
    max-width: 150px;
    max-height: 150px;
    border-right: 2px solid rgb(255, 255, 255);
  }
  
  .navbar-nav li a {
    color: #ffffff;
    font-size: 18px;
    
  }

  .navbar-nav li a:hover{

    color: black;
  }
  

  .container-img1 {
    max-width: 500px;
    max-height: 400px;
    margin: 20px auto 30px auto;
    padding: 0;
    text-align: center;
  }

  h1{

    color: black;
    margin: 5px auto auto auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

  }

  h2{
    color: black;
    margin-left: 27px;

  }

  p{
    color: black;
  }
  
  .footer {
    color: white;
    padding: 26px;
    text-align: center;
  }
  
  #about{
   
    text-align: justify;
    padding-left: 20px;
  }

  .container1{

    border: 1px solid black;
  }

  #about ul{
    color: black;
  }

  footer p{

    color: white;
  }


  .bg-grey {
    background-color:  rgb(150, 149, 149);
  }

  hr{
    border: 5px solid black;
  }

  .img3{
        height: 500px;
  }

  .container2{
background-color: rgba(52, 110, 235, 0.692);
  }

