/* Personalización de la plantilla */
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0; 
  }
  

 
  .logo {
    max-width: 150px;
    max-height: 150px;
    border-right: 2px solid rgb(255, 255, 255);
  }
  
  .navbar-nav li a {
    color: #ffffff;
    font-size: 18px;
    
  }

  .navbar-nav li a:hover{

    color: black;
  }
  
  


  h1, h2{

    color: black;
    margin: 5px auto auto auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

  }

 
  p{
    color: black;
  }
  
  .footer {
    
    padding: 26px;
    text-align: center;
  }
  
 .footer p{
  color: white;
 }

  .bg-grey {
    background-color:  rgb(150, 149, 149);
  }

  .container-text p{
    color: white;
  }